In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\rghaf\anaconda3\lib\site-packages (3.0.1)
Requirement already satisfied: py4j==0.10.9 in c:\users\rghaf\anaconda3\lib\site-packages (from pyspark) (0.10.9)
Note: you may need to restart the kernel to use updated packages.

In [8]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('test app').getOrCreate()
data_path="C:\\Users\\rghaf\\OneDrive - Intelius AI\\Documents\\i2Trader\\data\\prediction"

df = spark.read.csv(f'{data_path}\\AMZN.csv', inferSchema=True, header='true')


df.count()

119941

In [9]:
df.show()

+-------------------+----------+-----+---------+---------+---------+---------+------+---------+------------------+------------------+-----------+-----------+-----+-----+
|           datetime|Unnamed: 0|stock|     open|     high|      low|    close|volume|     VWAP|              9SMA|              9EMA|      20SMA|      20EMA|50SMA|50EMA|
+-------------------+----------+-----+---------+---------+---------+---------+------+---------+------------------+------------------+-----------+-----------+-----+-----+
|2019-07-29 07:31:00|         0| AMZN|  1938.69|  1938.69|  1938.69|  1938.69| 646.0|1939.0126|              null|              null|       null|       null| null| null|
|2019-07-29 07:39:00|         1| AMZN|   1942.0|   1942.0|   1942.0|   1942.0| 208.0|1941.9258|              null|              null|       null|       null| null| null|
|2019-07-29 08:00:00|         2| AMZN|   1942.0|   1942.0|   1942.0|   1942.0| 103.0|1941.9953|              null|              null|       null|       null| null| null|
|2019-07-29 08:05:00|         3| AMZN|   1939.0|   1942.5|   1939.0|   1942.5| 767.0|1940.0924|              null|              null|       null|       null| null| null|
|2019-07-29 08:07:00|         4| AMZN|1940.9837|1940.9837|1940.9837|1940.9837| 163.0|1940.9582|              null|              null|       null|       null| null| null|
|2019-07-29 08:08:00|         5| AMZN|   1947.9|   1947.9|   1940.0|   1940.0| 789.0|1945.0093|              null|              null|       null|       null| null| null|
|2019-07-29 08:14:00|         6| AMZN|   1941.0|   1941.0|   1941.0|   1941.0| 250.0| 1940.812|              null|              null|       null|       null| null| null|
|2019-07-29 08:27:00|         7| AMZN|   1939.2|   1939.2|   1939.2|   1939.2| 109.0|1939.2137|              null|              null|       null|       null| null| null|
|2019-07-29 08:32:00|         8| AMZN|   1939.2|   1939.2|   1939.2|   1939.2| 470.0|1939.0484|         1940.6193|         1940.6193|       null|       null| null| null|
|2019-07-29 08:46:00|         9| AMZN|   1939.5|   1939.5|   1939.5|   1939.5| 205.0|1939.3302|1940.7093000000002|1940.3954400000002|       null|       null| null| null|
|2019-07-29 08:50:00|        10| AMZN|1938.3357|1938.3357|1938.3357|1938.3357| 201.0|1938.5739|1940.3021555555558|1939.9834920000003|       null|       null| null| null|
|2019-07-29 08:52:00|        11| AMZN|  1938.25|  1938.25|  1938.25|  1938.25| 200.0|1938.4402| 1939.885488888889|1939.6367936000004|       null|       null| null| null|
|2019-07-29 08:53:00|        12| AMZN|1938.7031|1938.7031|1938.7031|1938.7031| 110.0|1938.7274|1939.4636111111113|1939.4500548800004|       null|       null| null| null|
|2019-07-29 08:54:00|        13| AMZN|   1939.0|   1939.0|   1924.0|   1933.0|6891.0|1931.2382|1938.5765333333334|1938.1600439040003|       null|       null| null| null|
|2019-07-29 08:57:00|        14| AMZN|  1934.02|  1934.02|  1934.02|  1934.02| 225.0|1934.0916| 1937.912088888889|1937.3320351232005|       null|       null| null| null|
|2019-07-29 08:58:00|        15| AMZN|   1934.0|   1934.0|   1934.0|   1934.0| 789.0|1933.7302|1937.1343111111112|1936.6656280985605|       null|       null| null| null|
|2019-07-29 09:08:00|        16| AMZN|1934.5004|1934.5004|1934.5004|1934.5004| 359.0|1934.8331|1936.6121333333333|1936.2325824788486|       null|       null| null| null|
|2019-07-29 09:10:00|        17| AMZN|   1935.0|   1936.5|   1935.0|   1936.5| 957.0|1935.4352|1936.3121333333333| 1936.286065983079|       null|       null| null| null|
|2019-07-29 09:27:00|        18| AMZN|  1934.51|  1934.51|  1934.51|  1934.51| 749.0| 1934.614|1935.7576888888887|1935.9308527864632|       null|       null| null| null|
|2019-07-29 09:28:00|        19| AMZN|  1935.51|  1935.51|  1934.83|  1934.83|1214.0|1935.0576|1935.3681666666666|1935.7106822291707|1938.086145|1938.086145| null| null|
+-------------------+----------+-----+---------+---------+---------+---------+------+---------+------------------+------------------+-----------+-----------+-----+-----+
only showing top 20 rows

In [10]:
df_pd=df.toPandas()
df_pd

,datetime,Unnamed: 0,stock,open,high,low,close,volume,VWAP,9SMA,9EMA,20SMA,20EMA,50SMA,50EMA
0,2019-07-29 07:31:00,0,AMZN,1938.6900,1938.6900,1938.6900,1938.6900,646.0,1939.0126,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-07-29 07:39:00,1,AMZN,1942.0000,1942.0000,1942.0000,1942.0000,208.0,1941.9258,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-07-29 08:00:00,2,AMZN,1942.0000,1942.0000,1942.0000,1942.0000,103.0,1941.9953,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-07-29 08:05:00,3,AMZN,1939.0000,1942.5000,1939.0000,1942.5000,767.0,1940.0924,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-07-29 08:07:00,4,AMZN,1940.9837,1940.9837,1940.9837,1940.9837,163.0,1940.9582,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119936,2020-07-28 18:09:00,119936,AMZN,3008.9000,3008.9000,3008.9000,3008.9000,281.0,3008.5436,3005.664444,3006.048414,3004.5650,3005.035898,3005.012776,3007.103141
119937,2020-07-28 18:42:00,119937,AMZN,3006.5200,3006.5200,3006.5200,3006.5200,354.0,3007.3402,3005.944444,3006.142731,3004.8410,3005.177241,3004.946176,3007.080272
119938,2020-07-28 18:44:00,119938,AMZN,3006.1500,3006.1500,3005.0000,3005.0000,649.0,3005.5912,3006.030000,3005.914185,3005.0410,3005.160361,3004.826010,3006.998693
119939,2020-07-28 18:45:00,119939,AMZN,3004.1100,3004.1100,3003.3300,3003.3300,896.0,3003.8406,3005.761111,3005.397348,3004.9575,3004.986041,3004.707410,3006.854823
119940,2020-07-28 18:48:00,119940,AMZN,3003.9600,3003.9600,3003.9600,3003.9600,628.0,3003.8966,3005.578889,3005.109878,3004.9055,3004.888323,3004.648410,3006.741300

In [5]:
import pyspark
from pyspark import SparkContext
sc=SparkContext()

sc.

Exception: Java gateway process exited before sending its port number